<?xml version="1.0"?>
<robot name="checker_ground_plane">
  <link name="checker_ground_plane_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <visual name="checker_ground_plane_0_visual">
      <origin xyz="16.25 16.25 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://checker_ground_plane/meshes/checker_ground_plane.dae" scale="0.5 0.5 0.5"/>
      </geometry>
    </visual>
    <visual name="checker_ground_plane_1_visual">
      <origin xyz="16.25 -16.25 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://checker_ground_plane/meshes/checker_ground_plane.dae" scale="0.5 0.5 0.5"/>
      </geometry>
    </visual>
    <visual name="checker_ground_plane_2_visual">
      <origin xyz="-16.25 16.25 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://checker_ground_plane/meshes/checker_ground_plane.dae" scale="0.5 0.5 0.5"/>
      </geometry>
    </visual>
    <visual name="checker_ground_plane_3_visual">
      <origin xyz="-16.25 -16.25 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://checker_ground_plane/meshes/checker_ground_plane.dae" scale="0.5 0.5 0.5"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.125" rpy="0 0 0"/>
      <geometry name="checker_ground_plane_0_collision">
        <box size="100 100 0.25"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="500"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
  </link>
</robot>
